body {
    font-family: 'Roboto', sans-serif;
}

.center {
    text-align: center;

}

.container {
    margin: 0 auto;
    width: 1021px;
}

.navigation {
    background-color: #fff;
    padding-top: 42px;
    padding-bottom: 38px;
}

.logo-text-big {
    color: #424242;
    font-size: 37px;/ font-weight: 700;
    text-align: center;
}

.logo-text-small {
    color: #424242;
    font-size: 15px;
}

.navigation_wrapper {
    display: flex;
    justify-content: space-between;
}

.navigation_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation_menu-link {
    color: #424242;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
}

.navigation_menu-link.active {
    color: #de2b24;
}

.header {
    background-image: url(../img/header-bgc.jpg);
    background-size: cover;
    background-repeat: none;
    padding-top: 176px;
    padding-bottom: 590px;
}

.header_slogan-big {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.header_slogan-small {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.header-button {
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    transform: scaleY(1.01);
    padding: 25px 40px;
    background-color: rgb(248, 206, 82);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 32px;
    border-radius: 3px;
    box-sizing: border-box;
}

.about_slogan-big {
    color: #424242;
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
}

.about_slogan-small {
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 8px;

}

.about_advanced {
    display: flex;
    justify-content: space-around;
    margin-top: 65px;
}

.about {
    padding-top: 142px;
    padding-bottom: 143px;
}

.navigation_menu-item {
    margin: 0 15px;
}

.navigation_menu-item::before {
    border-radius: 50%;
    background-color: #424242;
    width: 5px;
    height: 5px;
    margin-right: 15px;
    display: inline-block;
    content: "";
}

.navigation_button {
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    padding: 12px 22px;
    background-color: rgb(223, 39, 31);
    text-decoration: none;
    border-radius: 4px;
}

.navigation_logo {
    display: flex;
    justify-content: space-between;
}

.line-black::after {
    content: "";
    background-color: #424242;
    width: 47px;
    height: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 17px;
}

.line-white::after {
    background-color: #f3f3f3;
    content: "";
    width: 47px;
    height: 5px;
    margin-top: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 17px;
}

.ourwork_gallery {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 69px;
}

.ourwork {
    padding-top: 110px;
    padding-bottom: 131px;
    background-color: rgb(222, 43, 36);
}

.subscribe {
    padding-top: 90px;
    padding-bottom: 84px;
    background-color: #2a2a2a;
}

.footer {
    padding-top: 26px;
    padding-bottom: 27px;
    background-color: #515151;
}

.about_advanced-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 242px;
    height: auto;
}

.footer_text {
    color: #cecece;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
}

.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-button {
    display: inline-block;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 2px;
    margin-top: 27px;
    padding: 20px 35px;
    width: 153px;
    height: 53px;
}

.white {
    color: #ffffff;
}

.subscribe-email {
    border-radius: 1px;
    background-color: #515151;
    width: 683px;
    height: 54px;
    padding: 22px 20px;
    margin-top: 31px;
    box-sizing: border-box;
    border: none;
}

.subscribe_text-small {
    color: #cecece;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-top: 36px;
}

.subscribe_social {
    border-radius: 1px;
    border: 2px solid #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 49px;
    height: 49px;
    box-sizing: border-box;
    padding: 14px;
    margin: 0 10px;

}

.subscribe_social-wrapper {
    margin-top: 29px;
}

.ourwork_gallery-wrapper {
    background-color: #f35e59;
    width: 255px;
    height: 253px;
    box-sizing: border-box;
}

.ourwork_gallery-wrapper-airplane {
    margin-top: 75px;
}

.ourwork_gallery-wrapper-text-big {
    margin-top: 25px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.ourwork_gallery-wrapper-text-small {
    color: #ffffff;
    font-size: 16px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}

.about_advanced-text-big {
    color: #424242;
    font-size: 22px;
    font-weight: 700;
    margin-top: 28px;
}

.about_advanced-text-small {
    color: #5c5c5c;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-top: 14px;
}

.contacts {
    background-color: #f0f2f4;
    box-shadow: 0px 1px 0px 0px #e2e2e2;
    padding-top: 7px;
    padding-bottom: 9px;
}

.contacts__phone {
    color: #424242;
    font-size: 15px;
    margin-right: 68px;
}

.contacts__phone::before{
     content: "";
    background-image: url(../img/mphone.png);
    width: 11px;
    height: 18px;
    display: block;
    margin-right: 11px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts__mail {
    color: #424242;
    font-size: 15px
}

.contacts__mail::after{
     content: "";
    background-image: url(../img/facebook.png);
    width: 11px;
    height: 18px;
    display: block;
    padding:5px 9px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts-wrapper {
    display: flex;
    justify-content: flex-end;
}
